
projetos/EEG_Data_Synth/notebooks/gan_spec/coursera-gan-specialization/
projetos/EEG_Data_Synth/notebooks/Simple_multi_class/.ipynb_checkpoints/Classification-checkpoint.ipynb
projetos/EEG_Data_Synth/notebooks/Simple_multi_class/.ipynb_checkpoints/multiclass-classification-with-pytorch-checkpoint.ipynb
projetos/EEG_Data_Synth/notebooks/others/.ipynb_checkpoints/Main2-checkpoint.ipynb
projetos/EEG_Data_Synth/notebooks/GAN/
projetos/EEG_Data_Synth/notebooks/GANs/.ipynb_checkpoints/Untitled-checkpoint.ipynb
projetos/EEG_Data_Synth/notebooks/GANs/.ipynb_checkpoints/MyGAN-checkpoint.py
projetos/EEG_Data_Synth/notebooks/GANs/.ipynb_checkpoints/Metrics_Class-checkpoint.ipynb
projetos/EEG_Data_Synth/notebooks/GANs/.ipynb_checkpoints/Metrics-checkpoint.ipynb
projetos/EEG_Data_Synth/notebooks/GANs/.ipynb_checkpoints/JS_metric-checkpoint.ipynb
projetos/EEG_Data_Synth/notebooks/GANs/.ipynb_checkpoints/helper_functions-checkpoint.py
projetos/EEG_Data_Synth/notebooks/GANs/.ipynb_checkpoints/GAN_Time_Series-checkpoint.ipynb
projetos/EEG_Data_Synth/notebooks/GANs/.ipynb_checkpoints/gan_input_functions-checkpoint.py
projetos/EEG_Data_Synth/notebooks/GANs/.ipynb_checkpoints/example_windows_eeg_signals-checkpoint.png
projetos/EEG_Data_Synth/notebooks/gan_spec/.ipynb_checkpoints/C1W4A_Build_a_Conditional_GAN-checkpoint.ipynb
projetos/EEG_Data_Synth/notebooks/GANs/.ipynb_checkpoints/MyGAN-checkpoint.py
projetos/EEG_Data_Synth/notebooks/GANs/.ipynb_checkpoints/Metrics_Class-checkpoint.ipynb
projetos/EEG_Data_Synth/notebooks/GANs/.ipynb_checkpoints/Metrics-checkpoint.ipynb
projetos/EEG_Data_Synth/notebooks/GANs/.ipynb_checkpoints/helper_functions-checkpoint.py
projetos/EEG_Data_Synth/notebooks/GANs/.ipynb_checkpoints/GAN_Time_Series-checkpoint.ipynb
projetos/EEG_Data_Synth/notebooks/GANs/.ipynb_checkpoints/gan_input_functions-checkpoint.py
projetos/EEG_Data_Synth/notebooks/GANs/.ipynb_checkpoints/gan_input_functions-checkpoint.py
projetos/EEG_Data_Synth/notebooks/GANs/.ipynb_checkpoints/GAN_Time_Series-checkpoint.ipynb
projetos/EEG_Data_Synth/notebooks/GANs/.ipynb_checkpoints/helper_functions-checkpoint.py
projetos/EEG_Data_Synth/notebooks/GANs/.ipynb_checkpoints/Metrics-checkpoint.ipynb
projetos/EEG_Data_Synth/notebooks/GANs/.ipynb_checkpoints/Metrics_Class-checkpoint.ipynb
projetos/EEG_Data_Synth/notebooks/GANs/.ipynb_checkpoints/MyGAN-checkpoint.py
